<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application>
      <service>
        <activated type="nameSpaceRemote.RemoteObject,RemoteServer" />
      </service>
      <channels>
        <channel ref="tcp" port="5150" />
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>