<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add
      name="dbCon"
      connectionString="Data Source=DESKTOP-STRSG4K\SQLEXPRESS;Initial Catalog=School;Integrated Security=True"
      providerName="System.Data.SqlClient"
      />
  </connectionStrings>
</configuration>